<!-- 时间显示 -->
<div ng-if="vm.displayTime" class="times"><label for="" class="bg"><span class="time">{{vm.message.timestampFormat}}</span></label></div>

<!-- 消息 https://tower.im/projects/bc8069b813b64b1aad18786626ae3840/todos/9c9bf20607d2467fa5142611f6b95f8f/ -->
<div class="message" ng-class="{'mine': vm.isMine,'is-image': vm.message.content.type === -2,'attr': vm.message.content.attr}" layout="column">
  <div layout>
    <div class="loading"ng-if="vm.isMine && vm.message.content.type === -1 && vm.message._state === 'sending'">
      <img src="../../../assets/image/black_ico_load@2x28a2f7.gif" height="20" width="20" alt="">
    </div>
    <md-icon ng-if="vm.message._state === 'failed'" style="color:#F97575;">error</md-icon>
    <img class="img" ng-if="!vm.isMine && !vm.chat.avatar_url" src="../../../assets/image/default.png" height="40" width="40">
    <img class="img" ng-if="!vm.isMine && vm.chat.avatar_url" ng-src="{{vm.chat.avatar_url+'?imageView2/1/w/40/h/40'}}">

    <!-- <div ng-if="vm.message.content.type === -1 && !vm.message.content.attr" class="content" emojify>{{ vm.message.content.text }}</div> -->
    <div ng-if="vm.message.content.type === -1 && !vm.message.content.attr" class="content" emojify>{{ vm.message.content.text }}</div>

    <div ng-if="vm.message.content.type === -1 && vm.message.content.attr" class="content">{{ vm.message.content.text }}<br>
      <!-- type:11 关闭询价 https://tower.im/projects/bc8069b813b64b1aad18786626ae3840/todos/9c9bf20607d2467fa5142611f6b95f8f/ -->
      <!-- 0 新的询价 2 创建采购单提示  10 修改询价  15 电脑报价-->
      <a href="javascript:;" ng-click="vm.quoteClick()" ng-if="vm.message.content.attr.type===0 || vm.message.content.attr.type===10 || vm.message.content.attr.type===15">我要报价</a>
      <a href="javascript:;" ng-click="vm.orderClick()" ng-if="vm.message.content.attr.type===2">查看详情</a>
    </div>

    <div ng-if="vm.message.content.type === -2" ng-click="vm.showImage()" class="content" ng-class="{'image': vm.message._state === 'sending','is-image': vm.message.content.type === -2}">
      <img align="image"  ng-src="{{ vm.message.content.url }}" width="100" height="100">
    </div>
    <div class="duration" ng-if="vm.isMine && vm.message.content.type === -3">{{vm.message.content.metaData.duration | number:0}}"</div>
    <div class="content"
          ng-class="{voice:vm.message.content.type === -3}"
          ng-if="vm.message.content.type === -3"
          ng-click="vm.playVoice()"
          ng-style="{'width':55 + vm.message.content.metaData.duration*7}">
          <i ng-class="{'voice_gray_playing':vm.message.MMPlaying}" class="voice_gray"></i>
    </div>
    <!-- 语音消息是否查看 -->
    <span class="duration" ng-if="!vm.isMine && vm.message.content.type === -3">{{vm.message.content.metaData.duration | number:0}}"</span>
    <i class="chat_reddot" ng-show="!vm.isMine && vm.message.content.type === -3 && !vm.message.MMVoiceUnRead"></i>

    <img class="img" ng-if="vm.isMine" ng-src="{{vm.mine.avatar_url+'?imageView2/1/w/40/h/40'}}">
  </div>
</div>
