.login-frame {
  width: 100%;
  max-width: 290px;

  .logo {
    margin: 12px 0 24px;
    text-align: center;
  }

  .qrcode{
    margin:16px auto 16px;
  }

  .qrcode-target-show {
    background-position: -260px -260px;
  }

  .qrcode-target-hide {
    background-position: -201px -199px;
  }

  .qrcode-target {
      position: absolute;
      width: 60px;
      height: 60px;
      display: block;
      top: 0;
      right: 0;
      background-image: url(../../assets/image/T1el0hXaJb.png);
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 101;
      -webkit-transition: background-position .2s cubic-bezier(0.25,.5,.5,.9);
      -moz-transition: background-position .2s cubic-bezier(0.25,.5,.5,.9);
      transition: background-position .2s cubic-bezier(0.25,.5,.5,.9);
  }

  form {
    padding: 20px;
    md-input-container{
      margin:6px 0;
    }
    md-input-container.md-input-focused label{
      color:rgba(0,0,0,0.38);
    }
  }

  .progress{
    // top: 15px;
    // text-align: center;
    margin-left: -10px;
    // position: relative;
    // z-index: 9;
  }
  .md-button{
    height:36px;
  }

}

.copyright{
    position: relative;
    bottom: -50px;
    width: 100%;
    max-width: 290px;
    text-align: center;
    color: white;
    font-size: 12px;
    .download-link{
      a{
        color: white;
      }
      margin-bottom:5px;
    }
}